<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="internal-nlog.txt">

    <targets>
        <!-- تسجيل السجلات في قاعدة بيانات SQLite -->
        <target name="database" xsi:type="Database"
               keepConnection="false"
            useTransactions="false"
            dbProvider="System.Data.SQLite"
                        connectionString="Data Source=${C:\Users\Ahmed\Documents}\MaintenanceApp.db3;Version=3;"
            
  
                
               commandText="INSERT into Logs (Timestamp, Loglevel, Callsite, Message) values(@Timestamp, @Loglevel, @Callsite, @Message)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Callsite" layout="${callsite:filename=true}"/>
      <parameter name="@Message" layout="${message}"/>
        </target>

        <!-- تسجيل السجلات في ملف نصي -->
        <target name="file" xsi:type="File" fileName="C:\Users\Ahmed\Documents\logs.txt" layout="${longdate}|${level}|${message}" />
    </targets>

    <rules>
        <!-- قاعدة للتسجيل في قاعدة البيانات -->
        <logger name="*" minlevel="Info" writeTo="database" />

        <!-- قاعدة للتسجيل في ملف نصي -->
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>
