<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="internal-nlog.txt">

    <targets>
        <!-- تسجيل السجلات في قاعدة بيانات SQLite -->
        <target name="database" xsi:type="Database"
                dbProvider="sqlite"
                connectionString="Data Source=C:\Users\Ahmed\Documents\MaintenanceApp.db3;"
                commandText="
                INSERT INTO MaintenanceApp.db3 (Date, Level, Message, Logger, Exception)
                VALUES (@time, @level, @message, @logger, @exception)">

            <parameter name="@time" layout="${longdate}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@exception" layout="${exception:format=toString}" />
        </target>

        <!-- تسجيل السجلات في ملف نصي -->
        <target name="file" xsi:type="File" fileName="C:\Users\Ahmed\Documents\logs.txt" layout="${longdate}|${level}|${message}" />
    </targets>

    <rules>
        <!-- قاعدة للتسجيل في قاعدة البيانات -->
        <logger name="*" minlevel="Info" writeTo="database" />

        <!-- قاعدة للتسجيل في ملف نصي -->
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>
