<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      internalLogLevel="Trace" 
      internalLogFile="C:\Temp\internal-nlog.txt">

  <!-- تعريف الأهداف -->
  <targets>
   <target xsi:type="Database" name="database"  
          dbProvider="System.Data.SQLite"
          connectionString="Data Source=$C:\Users\Ahmed\Documents\MaintenanceApp.db3;"
          commandText="INSERT INTO Logs (TimeStamp, Level, Message, Logger, Exception) VALUES (@time, @level, @message, @logger, @exception)">
    <parameter name="@time" layout="${longdate}" />
    <parameter name="@level" layout="${level}" />
    <parameter name="@message" layout="${message}" />
    <parameter name="@logger" layout="${logger}" />
    <parameter name="@exception" layout="${exception:format=toString}" />
  </target>

    <!-- الهدف البديل: ملف نصي -->
    <target xsi:type="File" name="fileBackup" 
            fileName="C:\Temp\Logs\Fallback-log.txt" 
            layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception:format=toString}" 
            concurrentWrites="true" 
            keepFileOpen="false" />
  </targets>

  <!-- تعريف القواعد -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="database,fileBackup" />
  </rules>
</nlog>
