<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Trace" internalLogFile="C:\Temp\internal-nlog.txt">

    <targets> 
       <target xsi:type="Database" name="database" 
                 keepConnection="false"
            useTransactions="false"
            dbProvider="System.Data.SQLite"
               connectionString="Data Source=C:\Users\Ahmed\Documents\MaintenanceApp.db3;" 
           commandText="INSERT INTO Logs (TimeStamp, Level, Message, Logger, Exception) VALUES (@time, @level, @message, @logger, @exception)">
  <parameter name="@time" layout="${longdate}" />
  <parameter name="@level" layout="${level}" />
  <parameter name="@message" layout="${message}" />
  <parameter name="@logger" layout="${logger}" />
  <parameter name="@exception" layout="${exception:format=toString}" />
</target>

    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="database" />
    </rules>
</nlog>
